html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 62.5%;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  position: relative;
}
a {
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

img {
  min-width: 100%;
  max-width: 100%;
}

/* common */
.border__A {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
label {
  padding: 2rem;
  border: 2px solid #d2d2d7;
  border-radius: 10px;
  width: 100%;
  font-weight: bold;
  margin-bottom: 1rem;
  display: block;
  cursor: pointer;
  position: relative;
}
select {
  border: solid #d2d2d7;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  font-weight: bold;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  border: 2px solid #0071e3;
}

.plusprice {
  color: #86868b;
  display: block;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
/* commonここまで */

.product {
  position: relative;
  width: 920px;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.product__img {
  position: fixed;
  width: 45%;
  top: 5rem;
  left: 5%;
}
.product__wrap {
  position: absolute;
  width: 45%;
  top: 0;
  right: 0;
  font-size: 1.8rem;
    padding-bottom: 15rem;

}
.product__ttl {
  font-size: 3rem;
  font-weight: bold;
}


.storage {
  margin-bottom: 5rem;
}


.keybord {
  margin-bottom: 5rem;
}


.cutpro {
  margin-bottom: 5rem;
}
.cutpro__wrap {
  display: flex;
}
.cutpro__01 ,
.cutpro__02 {
  width: 50%;
}
.cutpro__01 label {
  border-radius: 10px 0 0 10px;
  border-right: none;
  height: 100%;
}
.cutpro__02 label {
  border-radius: 0 10px 10px 0;
  height: 100%;
}

.total {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f5f5f7;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.total p {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}
.order-btn a {
  background: #ffb000;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  padding: 1rem 2rem;
  border: 2px solid #ffb000;
  transition: 0.15s;
  cursor: pointer;
}
.total button:hover {
  color: #ffb000;
  background: #fff;
}
