html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 62.5%;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  position: relative;
}
a {
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

li {
  list-style: none;
}

img {
  min-width: 100%;
  max-width: 100%;
}

/* common */
.l-inner {
  width: 920px;
  margin: 0 auto;
}
.border__A {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
label {
  padding: 2rem;
  border: 2px solid #d2d2d7;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  background: #ffffff;
}
select {
  border: solid #d2d2d7;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  font-weight: bold;
}
h3 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  border: 2px solid #0071e3;
}

.plusprice {
  color: #86868b;
  display: block;
  width: 20%;
  text-align: right;
  margin-left: auto;
}
/* commonここまで */

.product {
  position: relative;
  width: 920px;
  margin: 0 auto;
  // margin-bottom: 5rem;
  display: none;
  &__list {
    display: flex;
    padding-top: 55px;
    margin-bottom: 65px;
    padding-left: 0;
    li {
      width: 25%;
      max-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      background-color: #f6f6f6;
      font-size: 20px;
      font-weight: bold;
      color: #a3a3a3;
      cursor: pointer;
    }
    .is-active {
      background: #004da1;
      color: #fff;
    }
  }
  &__wrap {
      padding-bottom: 15rem;
  
  }
  &__ttl {
    font-size: 3rem;
    font-weight: bold;
  }
}
.is-show {
  display: block;
}

.os, .office, .security, .cpu, .fan, .grease, .graphic, .power,
.memory, .ssd, .harddisk, .addhard, .drive, .sound, .case, .rear,
.topfront, .toprear, .lan, .wireless {
  padding: 30px;
  background: #f6f6f6;
  margin-bottom: 50px;
  border-top: 4px solid #004da1;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.total {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #e5f6fc;
  padding-top: 5rem;
  padding-bottom: 5rem;
  justify-content: center;
  gap: 3rem;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  .btn-wrap {
    width: 20%;
    .prev-btn {
      a {
        border: 1px solid #969fa2;
        color: #484848;
        text-align: center;
        width: 100%;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
      }
    }
    .keep-btn {
      margin-bottom: 10px;
      a {
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #fff;
        background: #00a2e6;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
      }
    }
  }
}
.total p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background: #ffffff;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 38%;
  display: flex;
  align-items: center;
  span {
    color: #e43344;
    font-weight: bold;
    font-size: 30px;
  }
}
.confirm-btn {
  width: 25%;
  p {
    background: orange;
   color: #fff;
   font-weight: bold;
   font-size: 26px;
   padding: 2rem;
   height: 100%;
   border: 2px solid orange;
   transition: 0.15s;
   cursor: pointer;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
  }
}
.order-btn {
   background: #004da1;
   color: #fff;
   font-weight: bold;
   font-size: 26px;
   padding: 2rem;
   height: 100%;
   border: 2px solid #004da1;
   transition: 0.15s;
   cursor: pointer;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 25%;
  
}
.total button:hover {
  color: #004da1;
  background: #fff;
}

.btn-wrap{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;

}

.prev-btn {
  width: 30%;
  a {
    background: orange;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    padding: 2rem;
    height: 100%;
    transition: 0.15s;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.complete-btn {
  width: 30%;
  input[type="submit"] {
    background: #004da1;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    padding: 2rem;
    height: 100%;
    transition: 0.15s;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
  }
}

.confirm {
  display: none;
  &__layer {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
  }
  &__ttl {
    border: none;
  }
  &__contents {
    background: #fff;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 920px;
    height: 65vh;
    border-radius: 30px;
    overflow-y: scroll;
    dl {
      border-bottom: 2px solid #c8c8c8;
      padding: 20px 0;
      display: flex;
      &:last-of-type {
        margin-bottom: 40px;
      }
      dt {
        width: 25%;
        font-size: 14px;
        font-weight: bold;
      }
      dd {
        font-size: 14px;
        width: 65%;
      }
    }
    .total-price {
      font-size: 20px;
      text-align: right;
      span{
        color: #e43344;
        font-weight: bold;
        font-size: 33px;
        margin-left: 30px;
      }
    }
  }
}

.sec-ttl {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.confirm-name {
  font-size: 16px;
  margin-bottom: 40px;
}

.confirm-total {
  display: flex;
  justify-content: right;
  margin-bottom: 40px;
  h3 {
    border-bottom: none;
  }
  p {
    font-size: 25px;
    color: #e43344;
    font-weight: bold;
    margin-left: 20px;
  }
}


.basic-info {
  display: flex;
  margin-bottom: 30px;
  label {
    border: none;
    width: 20%;
    font-size: 18px;
    padding: 1rem;
  }
  input {
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    width: 70%;
    padding: 20px 10px;
  }
}